@page "/groep"
@using ROCStarBackend;

<h3>Groep @group.Id</h3>

<table>
  <thead>
    <td @onclick="() => Sort(0)"><i>Id</i></td>
    <td @onclick="() => Sort(1)"><i>Naam</i></td>
    <td @onclick="() => Sort(2)"><i>Geboortedatum</i></td>
  </thead>
  <tbody>
    @foreach (var student in group.Students)
    {
      <tr>
        <td width="100">@student.Id</td>
        <td width="400">@student.Name</td>
        <td>
          @if (student.Birthday > DateOnly.MinValue)
          {
            @student.Birthday;
          }
        </td>
      </tr>
    }
  </tbody>
</table>


@code {
  Group group = RealData.GetGroup();

  int Column;

  void Sort(int column)
  {
    Column = column;
  }
}
